<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body class="body">
    <%- include('../partials/header') %>
    <main class="main_home">
        <div class="main_conteiner">
            <div class="anuncio_bar_horizontal"></div>
            <div class="categoria_product">
                    <div class="categoria_title_off" onclick="">
                        <p class="p_categoria ">Categoria</p>
                        <div class="icon_arrow"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="categoria_title">
                        <p class="p_categoria">Equipo y Notebooks</p>
                        <div class="icon_arrow"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="categoria_title">
                        <p class="p_categoria">Kits de actualizacion</p>
                        <div class="icon_arrow"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="categoria_title">
                        <p class="p_categoria">Procesadores</p>
                        <div class="icon_arrow"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="categoria_title">
                        <p class="p_categoria">Mothers</p>
                        <div class="icon_arrow"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="categoria_title">
                        <p class="p_categoria">Placa de video</p>
                        <div class="icon_arrow"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="categoria_title">
                        <p class="p_categoria">Memorias RAM</p>
                        <div class="icon_arrow"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="categoria_title">
                        <p class="p_categoria">Almacenamiento</p>
                        <div class="icon_arrow"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="categoria_title">
                        <p class="p_categoria">Refrigeracion</p>
                        <div class="icon_arrow"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="categoria_title">
                        <p class="p_categoria">Gabinete</p>
                        <div class="icon_arrow"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="categoria_title">
                        <p class="p_categoria">Fuentes</p>
                        <div class="icon_arrow"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="categoria_title">
                        <p class="p_categoria">Monitores</p>
                        <div class="icon_arrow"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
            </div>
            <div class="filtro_product"></div>
            <div class="anuncio_bar_vertical"></div>
            <div class="orden_product"></div>
            <div class="product"></div>
        </div>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>