<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body class="body ">
    <%- include('./partials/header') %> 
    <main class="main_home">
        <div class="carrusel_img_bar">
            <div class="slider_box">
                <ul class="anuncio_img">
                    <li id="img_1"> 
                        <img class="img_anuncio_bar" src="/images/anuncio_bar_1.png" alt="anuncio_1">
                    </li>
                    <li id="img_2">
                        <img class="img_anuncio_bar" src="/images/anuncio_bar_2.png" alt="anuncio_2">
                    </li>
                    <li id="img_3">
                        <img class="img_anuncio_bar" src="/images/anuncio_bar_3.png" alt="anuncio_3">
                    </li>
                </ul>
            </div>
        </div>
        <ul class="point_enlace_icon">
            <li><a class="icon_point_enlace" href="#img_1" ><li><i class="fa-solid fa-circle"></i></li></a></li>
            <li><a class="icon_point_enlace" href="#img_2" ><li><i class="fa-solid fa-circle"></i></li></a></li>
            <li><a class="icon_point_enlace" href="#img_3" ><li><i class="fa-solid fa-circle"></i></li></a></li>
         </ul>
        <div class="recent_product">
        <h2>Lo mas reciente</h2>    
            <div>
                <div class="img_home_product">
                    <img src="" alt="">
                </div>
                <div class="description_producto_main">
                    <li>Titulo</li>
                    <li>Precio</li>
                    <li>Descuento</li>
                </div>
            </div>
        </div>
        <div class="ofert_product">
        <h2>Ofertas</h2>
        <div>
            <div class="img_home_product">
                <img src="" alt="">
            </div>
            <div class="description_producto_main">
                <li>Titulo</li>
                <li>Precio</li>
                <li>Descuento</li>
            </div>
        </div>
        </div>
    </main>
    <%- include('./partials/footer') %> 
    <script src="/js/home.js"></script>
</body>
</html>