<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body class="body">
    <%- include('./partials/header') %> 
    <main>
        <div class="carrusel_img_bar">
            <img src="" alt="">
            <ul>
                <li><i class="fa-solid fa-circle"></i></li>
                <li><i class="fa-solid fa-circle"></i></li>
                <li><i class="fa-solid fa-circle"></i></li>
                <li><i class="fa-solid fa-circle"></i></li>
                <li><i class="fa-solid fa-circle"></i></li>
            </ul>
        </div>
        <div class="recent_product">
        <h2>Lo mas reciente</h2>    
            <div>
                <div class="img_home_product">
                    <img src="" alt="">
                </div>
                <div class="description_producto_main">
                    <li>Titulo</li>
                    <li>Precio</li>
                    <li>Descuento</li>
                </div>
            </div>
        </div>
        <div class="ofert_product">
        <h2>Ofertas</h2>
        <div>
            <div class="img_home_product">
                <img src="" alt="">
            </div>
            <div class="description_producto_main">
                <li>Titulo</li>
                <li>Precio</li>
                <li>Descuento</li>
            </div>
        </div>
        </div>
    </main>
    <%- include('./partials/footer') %> 
    <script src="/js/home.js"></script>
</body>
</html>