<footer>
    <div>
        <div class="logo_footer">
            <img src="/images/logo_propio_bar.png" alt="logo_bar">
        </div>
        <div class="list_footer_A">
            <ul>
                <li>Inicio</li>
                <li>Acerca de </li>
                <li>Caracteristicas</li>
                <li>Precios</li>
                <li>Contactanos </li>
            </ul>
            <ul>
                <li>Blog</li>
                <li>Buscar</li>
                <li>T & Cs</li>
                <li>Privacidad</li>
                <li>Comunidad</li>
            </ul>
        </div>
        <div class="suscribe_footer">
            <form action="" method="post">
                <label for="search_footer">Recibe nuestro boletin</label>
                <input type="text" placeholder="Ingrese su correo electronico.." id="search_footer">
                <input type="button" value="Suscribete">
            </form>
            <div class="social_media">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-solid fa-bell"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>
</footer>