<footer>
    <div class="footer_div_group">
        <div class="logo_enlace">
        <div class="logo_footer">
            <img class="img_logo_footer" src="/images/logo_propio_bar.png" alt="logo_bar">
        </div>
        <div class="list_footer_A">
            <ul>
                <li class="li_enlace_footer"><a class="enlace_footer_help" href="#">Inicio</a></li>
                <li class="li_enlace_footer"><a class="enlace_footer_help" href="#">Acerca de</a></li>
                <li class="li_enlace_footer"><a class="enlace_footer_help" href="#">Caracteristicas</a></li>
                <li class="li_enlace_footer"><a class="enlace_footer_help" href="#">Precios</a></li>
                <li class="li_enlace_footer"><a class="enlace_footer_help" href="#">Contactanos</a></li>
            </ul>
        </div>
        <div class="list_footer_B">
            <ul>
                <li class="li_enlace_footer"><a class="enlace_footer_help" href="#">Blog</a></li>
                <li class="li_enlace_footer"><a class="enlace_footer_help" href="#">Buscar</a></li>
                <li class="li_enlace_footer"><a class="enlace_footer_help" href="#">T & Cs</a></li>
                <li class="li_enlace_footer"><a class="enlace_footer_help" href="#">Privacidad</a></li>
                <li class="li_enlace_footer"><a class="enlace_footer_help" href="#">Comunidad</a></li>
            </ul>
        </div>
    </div>
        <div class="suscribe_footer">
            <form class="form_footer_arreglo" action="" method="post">
                <label class="label_footer_title" for="search_footer">Recibe nuestro boletin</label>
                <div class="form_footer_container">
                    <input class="input_footer_form" name="searcher_footer" type="text" placeholder="Ingrese su correo electronico.." id="search_footer">
                    <input class="button_footer_form" type="button" value="Suscribete">
                </div>
            </form>
            <div class="social_media">
                <a class="enlace_footer_help media" target="_blank" href="http://www.facebook.com"><i class="fa-brands fa-facebook"></i><a href=""></a>
                <a class="enlace_footer_help media" target="_blank" href="http://www.instagram.com"><i class="fa-brands fa-instagram"></i><a href=""></a>
                <a class="enlace_footer_help media" target="_blank" href=""><i class="fa-solid fa-bell"></i><a href=""></a>
                <a class="enlace_footer_help media" target="_blank" href="http://www.twitter.com"><i class="fa-brands fa-twitter"></i><a href=""></a>
                <a class="enlace_footer_help media" target="_blank" href="http://www.youtube.com"><i class="fa-brands fa-youtube"></i><a href=""></a>
            </div>
        </div>
    </div>
</footer>