<header class="main_header">
    <div class="div_header">
       <div class="conteiner_header_img_list">
        <div class="logo_header">
            <img class="img_header" src="/images/logo_propio_bar.png" alt="Logo">
        </div>
        <div class="header_bar_item">
            <ul class="header_ul">
                <li class="li_header"><a class="a_header" href="/"><p class="parrafo_header"><i class="fa-solid fa-house"></i>   Inicio</p></a></li>
                <li class="li_header"><a class="a_header" href="/product/all"><p class="parrafo_header"><i class="fa-solid fa-list"></i>    Productos</p></a></li>
                <li class="li_header"><a class="a_header" href="/users/sign_In"><p class="parrafo_header"><i class="fa-solid fa-user"></i>    Iniciar Sesion</p></a></li>
                <li class="li_header"><a class="a_header" href="/users/register"><p class="parrafo_header"><i class="fa-solid fa-users"></i>    Registrarse</p></a></li>
                <li class="li_header"><a class="a_header" href="/product/build_pc"><p class="parrafo_header"><i class="fa-solid fa-screwdriver-wrench"></i>  Armar PC</p></a></li>
                <li class="li_header"><a class="a_header" href="/users/help"><p class="parrafo_header"><i class="fa-solid fa-globe"></i>    Ayuda</p></a></li>
                <li class="li_header"><a class="a_header" href="/product/create"><p class="parrafo_header"><i class="fa-solid fa-screwdriver-wrench"></i>Crear Producto</p></a></li>
            </ul>
        </div>
    </div>
    <div class="search_header">
        <form class="form_header" action="" method="post">
           
            <input type="text" class="search_input_header" name="searcher" placeholder="Buscar...">
        
            <button id="button_Seach" class="button_search">
                <div class="icon_search_header">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div> <p class="parrafo_search_button">Buscar</p>
            </button>
        </form>
    </div>
    </div>
</header>