<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body class="body">
    <%- include('../partials/header') %>

<main class="main_home">
    <div class="form_div_register">
        <div class="title_register">
        <h2 class="title_saludo_register">Hola! es bueno verte</h2>
        <h2 class="title_saludo_register">Registrate please</h2>    
    </div>
        <form class="form_register" action="" method="post">
        <center>
        <h2 class="h2_register">Register</h2>
        </center>
        <div class="input_register_div">
            <label for="nombre">Nombre de Usuario</label>
            <input class="input_register" type="text">
        </div>
        <div class="input_register_div">
        <label for="nombre">Nombre</label>
        <input class="input_register" type="text">
    </div>
        <div class="input_register_div">
        <label for="">Apellido</label>
        <input class="input_register" type="text">
    </div>
        <div class="input_register_div">
        <label for="">Correo</label>
        <input class="input_register" type="text">
    </div>
        <div class="input_register_div">
        <label for="">DNI(opcional)</label>
        <input class="input_register" type="text">
    </div>
        <div class="input_register_div">
        <label for="">Telefono(opcional)</label>
        <input class="input_register" type="text">
    </div>
        <div class="input_register_div">
        <label for="">Direccion(Opcional)</label>
        <input class="input_register" type="text">
    </div>
        <div class="input_register_div">
        <label for="">Fecha de nacimiento</label>
        <input class="input_register" type="text">
    </div>
        <div class="input_register_div">
        <label for="">Contraseña</label>
        <input class="input_register" type="text">
    </div>
        <div class="input_register_div">
        <label class="input_register" for="">Confirmar Contraseña</label>
        <input class="input_register" type="text">
    </div>
        <div class="input_register_div">    
        <label for="">Foto de perfil(opcional)</label>
        <input class="input_register" type="text">
    </div>
        <input type="checkbox">
       <p>Quiero recibir ofertas personalizadas</p>
       <input type="checkbox">
       <p>Terminos y Condiciones</p>
      <button>Registrarse</button>
    </form>
    </div>    
</main>
    
    <%- include('../partials/footer') %> 
</body>
</html>